.. role:: normal

.. image:: _images/dvg.svg

.. raw:: pdf

    Spacer 0 4cm

{% if title: %}

.. cssclass:: title

{{title}}

{% endif %}

.. raw:: pdf

    Spacer 0 1cm


.. cssclass:: docVersion

RX.XX



.. raw:: pdf

   Spacer 0 3cm

.. cssclass:: author

October 2020

.. raw:: pdf

    PageBreak
